.advantages {
	min-height: 470px;
	padding: 70px 0 78px;
	background-color: #f6f6f6;
	text-align: center;
	&__title {
		font-size: 30px;
		color: #0d0d0d;
		text-transform: uppercase;
		font-weight: 700;
	}
	&__wrapper {
		margin-top: 65px;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		max-width: 237px;
		align-items: center;
		&-content {
			.title {
				margin-top: 38px;
				color: #0d0d0d;
				font-size: 18px;
				font-weight: 700;
			}
			.text {
				margin-top: 25px;
				color: #0d0d0d;
				font-size: 14px;
				font-weight: 300;
				a {
					color: #ff0000;
					text-transform: uppercase;
				}
			}
		}
	}
	&__icons {
		width: 70px;
		height: 70px;
		&-animated {
			animation-name: heartbeat;
			animation-duration: 1.5s;
			animation-timing-function: ease;
			animation-iteration-count: infinite;
			&:hover {
				animation-play-state: paused;
			}
		}
	}
}
